.projects-slider-wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: -2vw; 
    position: relative;
}

.projects-slider-container {
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.card {
    width: 6vw;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    /* background-image: url('../../assets/img/contact-img.svg'); */
    transition: width 0.6s cubic-bezier(.28,-0.03,0,.99);
}

.card.active {
    width: 20vw;
}


