.projects-slider-wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #eeeeea; */
}

.projects-slider-container {
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.card {
    width: 6vw;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    background-image: url('../../assets/img/contact-img.svg');
    transition: width 0.6s cubic-bezier(.28,-0.03,0,.99);

    /* Hover animations */
    &:after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 51, 102, 0.6), #000);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 0;
    }

    &:hover:after {
        opacity: 0.85;
    }   
}

.content {
    opacity: 0;
}

.card.active {
    width: 30vw;

    .content {
        position: absolute;
        width: 100%;
        z-index: 3;
        padding: 10px 20px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 0,
            rgba(0, 0, 0, 1)
        );
        bottom: -70px;

        opacity: 1;
    }

    .title {
        margin-bottom: 5;
        margin-top: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        opacity: 1;
        font-weight: bold;
    }

    .description {
        font-size: 14px;
        margin-bottom: 5px;
        color: #b9b9b9;
        font-weight: 700;
        opacity: 1
    }

    .btn {
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 0 23px;
        height: 40px;
        line-height: 34px;
        border: 2px solid rgb(83, 138, 194);
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        background: transparent;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
    }

    .btn:hover {
        transform: translateY(-3px);
        background: rgb(83, 138, 194);
    }

    

    &:hover .content {
        bottom: 0;
        background: transparent;
    }
}
