.summer-container {
    width: 100vw;      
    height: 100vh;     
    background-color: rgb(255,239,194); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;      
    font-size: 2em;    
}
